body {
    width: 450px;
}
input {
    width: 90%;
    margin: 5%;
}
.hidden-container {
    display: none;
    padding: 8px;
}
.grid-container {
    display: flex;
    flex-direction: row;
    padding: 8px;
}
.grid-header {
    width: 250px;
}
.grid-value {
    width: 200px;
}
.gray {
    background-color: lightgray;
}
.subcategories {
    margin: 0px 0px 30px 0px;
}
.active {
    background-color: greenyellow;
}
.inactive {
    background-color: gainsboro;
}